html,
body {
  margin:0;
  padding:0;
  height:100%;
}

body{
  background-color: #E5E5E5;
  max-width: 100%;
  padding-left: 33px;
  padding-right: 32px;
}

#root{
  height: 100%;
}

.App-logo{
  width:133px;
  height: 58px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: #1E0D03;  
  padding-left: 15px;
}

.menu{
  padding-top: 17px;
  width: 252px;
  min-height:calc(100% - 60px);
  position:relative;
  float: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #1E0D03;
}

.list-menu{
  margin-top: 59px;
  padding-bottom:60px;
}

.button-menu{
  width: 90%;
  height: 56px;
  /* background-color: Transparent; */
  background-repeat:no-repeat;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 27px;
  opacity: 0.6;
}

.nav{
  margin-top: 17px;
  width:calc(100% - 252px);
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 10px 16px; */
  padding-left: 10px;
  /* padding-right: 15px; */
  width: 437px;
  height: 46px;
  
  background: #EDEDED;
  border-radius: 12px;

}

.Search{
  padding-left: 10px;
  border: none;
  outline:none;
  background: #EDEDED;
  width: 90%;
}

.NotiMail{
  width: 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

.footer{
  position:relative;
  bottom:0;
  width: 252px;
  height:0px;
  font-size:14px;
  font-weight:'normal';
  opacity: 0.6;  
}

.nav-control{
  margin-bottom: 17px;
  width:100%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-button{
  display: flex;
  flex-direction: row;

}



.body{
  background-color: #FFFFFF;
  border-radius: 24px;
  width:calc(100% - 252px);
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  min-height:calc(100% - 114px);
}


.table{
  border: 1px solid;
  /* border-collapse:collapse; */
  width: 100%;
  max-height: 576px;
  padding-top: 14px;
}

/* tr:nth-child(odd) {background-color: #F1F4F8;}
tr:first-child th:first-child { border-top-left-radius: 8px; }
tr:first-child th:last-child { border-top-right-radius: 8px; } */

.button{
  background-color: #FFFFFF;
  border: 1px solid #FF993C;
  border-radius: 6px;
  color: #FF993C;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;
  /* width:100%; */
  padding-left: 15px;
  padding-right: 15px;
}

.button:hover{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.button-on{
  background-color: #FF993C;
  border: 1px solid #FF993C;
  border-radius: 6px;
  color: #FFFFFF;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;
  /* width:100%; */
  padding-left: 15px;
  padding-right: 15px;
}

.button-on:hover{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.input-small{
  width: 148px;
  margin: 5px;
}

.header-modal{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 0;
}

/* .ant-modal-wrap{
  margin-top: -70px;
} */

.ant-modal-content{
  border-radius: 16px;
}

.ant-modal-body{
  font-size: 16px;
}

.ant-space{
  width:100%;
}

.ant-radio-group{
  width: 100%;
}

.ant-input{
  border-radius: 8px;
}

.ant-picker{
  width:120px;
}

.required:after {
  content:" *";
  color: red;
}

.annotate{
  font-style: italic;
  color: #1E0D03;
  opacity: 0.4;
  font-size: 12px;
}

.annotate::before{
  content:"* ";
  color: red;
}

.ant-space-item{
  width: 100%;
}

.filter-label{
  font-weight: 600;  
}

.filter{
  background-color: #FFFFFF;
  border-radius: 24px;
  width: 320px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 0px;
  min-height:calc(100% - 114px);
}