.App {
  text-align: center;
  background-color: #F9F6F4;
  min-height: 100vh;
}

.App-logo {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  left: 33px;
  top: 17px;
  width: 133px;
  height: 58px;
}

.App-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 10px 16px; */
  
  position: absolute;
  width: 470px;
  height: 48px;
  left: 321px;
  top: 17px;
  
  background: #EDEDED;
  border-radius: 12px;
}

.Search{
  /* Sample */
  position: static;
  width: 361px;
  height: 28px;
  left: 16px;
  top: 10px;
  border: none;
  outline:none;

  background: #EDEDED;

  /* 16 italic */
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  
  /* Text */
  color: #1E0D03;
  opacity: 0.3;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 10px 16px;
}

.Search-icon{
  /* Vector */
  /* position: absolute; */
  left: 0%;
  right: 14.29%;
  top: 0%;
  bottom: 14.28%;
  padding-right: 15px;
  /* Text */
  color: #1E0D03;
}

.NotiMail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 144px;
  height: 48px;
  right: 32px;
  top: 17px;
}

.Mail-icon{
  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 12px;

  opacity: 0.8;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Bell-icon {
  position: static;
  width: 24px;
  height: 24px;
  left: 48px;
  top: 12px;

  opacity: 0.8;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
}

.Avatar {
  position: static;
  width: 48px;
  height: 48px;
  left: 96px;
  top: 0px;

  border-radius: 30px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.Menu-main{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 30px;

position: static;
width: 252px;
height: 289px;
left: 33px;
top: 117px;

color: #1E0D03;
opacity: 0.6;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 59px 0px;
}

.Menu{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 16px 15px 24px;

position: static;
width: 252px;
height: 56px;
left: 0px;
top: 0px;

border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.Menu-icon{
  color: #1E0D03;
}
.Menu-text{
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.Main{
  position: absolute;
width: 100%;
height: 963px;
left: 321px;
top: 85px;

background: #FFFFFF;
border-radius: 24px;
}
